:host {
  display: inline-block;
}

.progress-ring {
  display: block;
}

.bg {
  opacity: 0.2;
}

.progress {
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.percentage-text {
  font-weight: 600;
  font-family: system-ui, -apple-system, sans-serif;
}

.label-text {
  font-weight: 400;
  font-family: system-ui, -apple-system, sans-serif;
  opacity: 0.7;
}
